.container {
	margin-top: 40px;

	h2 {
		font-family: "Cormorant Garamond", serif;
		font-size: 40px;
		font-weight: 900;
		letter-spacing: -1px;

		text-align: center;

		margin-bottom: 20px;
	}
}

.list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 18px;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.thumb {
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(243, 233, 223);
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	@media (min-width: 768px) and (max-width: 1023.98px) {
		flex-basis: calc((100% / 2) - 18px);

		&:nth-child(1) {
			display: none;
		}
	}

	@media (min-width: 1024px) {
		flex-basis: calc((100% - (18px * 4)) / 5);
	}
}

.image {
	height: 350px;
	width: 100%;
	object-fit: cover;
	object-position: top;

	@media (min-width: 1024px) {
		height: 150px;
	}
}

.title {
	font-family: "Cormorant Garamond", serif;
	font-size: 24px;
	font-weight: 900;
}

.description {
	font-size: 16px;
}

.info {
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
