.burgerMenu {
	position: fixed;
	inset: 0;
	z-index: 25;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #f6ebde;

	transform: translateX(100%);
	transition: transform 0.45s ease;

	border: 1px solid #2b0e00cb;

	padding: 24px;

	@media (min-width: 1200px) {
		display: none;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.open {
	transform: translateX(0);
}

.closeBtn {
	border: none;
	background: transparent;

	font-size: 42px;
	line-height: 1;
	cursor: pointer;
	color: #5a3a24;
}

.nav {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	gap: 28px;

	flex-grow: 1;
}

.navLink {
	position: relative;
	display: inline-flex;
	justify-content: center;

	font-size: 32px;
	line-height: 1.2;
	color: #5a3a24;
	text-decoration: none;

	span {
		position: relative;
	}

	/* ліва точка */
	span::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -13px;

		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #b97832;

		opacity: 0;
	}

	/* палка */
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -11.5px;

		width: 90%;
		height: 1px;
		border-radius: 999px;
		background-color: #b97832;

		opacity: 0;
	}

	/* права точка */
	&::after {
		content: "";
		position: absolute;
		left: 90%;
		bottom: -13px;

		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #b97832;

		opacity: 0;
	}

	/* ACTIVE */
	&.active {
		span::before,
		&::before,
		&::after {
			opacity: 1;
		}
	}
}
