.container {
	margin-top: 50px;

	margin-bottom: 200px;
}

.starWrapper {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 45%;
		left: -9px;

		width: 80px;
		height: 1.5px;
		background-color: #c19a5b;
	}
}

.star {
	margin-left: 20px;
}
